.vs
.VS*

*Constants/SystemDependent/*
!*Constants/SystemDependent/Template

*Functions/Categories/SystemDependent/*
!*Functions/Categories/SystemDependent/Template

*SystemDependent/*
!*SystemDependent/Template
!*SystemDependent/SystemDependentSetup.ps1

.idea*

.DS_Store